
div {
    vertical-align: center;
     margin: auto;
   width: 50%;
   // border: 3px solid rgb(229, 229, 229);
   padding: 70px;
   text-align: center;
   
 
   }
   .bg-img{
     
     height: 100%;
     background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   }
 
 
   .field1 {
     vertical-align: center;
      margin: auto;
    width: 50%;
    border: 3px solid rgb(255, 125, 125);
    padding: 70px;
    text-align: center;
    
  
    }
    
   
   
   input[type=text], input[type=password] {
     width: 100%;
     padding: 12px 20px;
     margin: 8px 0;
     display: inline-block;
     // border: 1px solid #ccc;
     box-sizing: border-box;
   }
   
   
   button {
     background-color: #04AA6D;
     // color: white;
     padding: 14px 20px;
     margin: 8px 0;
     border: none;
     cursor: pointer;
     width: 100%;
   }
   
   
   button:hover {
     opacity: 0.8;
   }
   
   
   .cancelbtn {
     width: auto;
     padding: 10px 18px;
     background-color: #f44336;
   }
   
   
   .imgcontainer {
     text-align: center;
     margin: 24px 0 12px 0;
   }
   
   
   img.avatar {
     width: 40%;
     border-radius: 50%;
   }
   
   
   .container {
     padding: 16px;
   }
   
  
   span.psw {
     float: right;
     padding-top: 16px;
   }
   
   
   @media screen and (max-width: 300px) {
     span.psw {
       display: block;
       float: none;
     }
     .cancelbtn {
       width: 100%;
     }
   }
   
 
   