
<div class="bg-image" 
style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');height: 100vh; width: 100%;">
<div class="field1"  form action="action_page.php" method="post">


<div class="container">
 <label for="uname"><b>Username</b></label>
 <input type="text" placeholder="Enter Username" name="uname" required>

 <label for="psw"><b>Password</b></label>
 <input type="password" placeholder="Enter Password" name="psw" required>

 <button type="submit" (click)="redirect()">Login</button>

</div>
<div class="container" >
<button type="button" class="cancelbtn" (click)="redirect2()">Signup</button>

</div>

</div>

</div>