<!-- 

 <form (submit)="onSubmit(list.value)">
    <input #list >
    <button (click)="onSubmit(list.value)">Submit</button>
 </form>
<h2>The list of items</h2>
 <ol >
    <li>Item1</li>
    <li>Item2</li>
    <li>Item3</li>
    
    
 </ol> -->
<div >
<form style="text-align: center;" class="container"  [formGroup]="form" (ngSubmit)="onSubmit()" >
   <div >
      <div>
         <label><b>Username</b></label>
         <input type="text" name="name" placeholder="name" formControlName="name" ><br />

      </div>
      <div>
         <label><b>Company</b></label>
          <input type="text" name="company" placeholder="company" formControlName="company"><br />

      </div>
      <div>
         <label><b>State   </b></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <input type="text" name="state" placeholder="state" formControlName="state"><br />

      </div>
      <div>
         <label><b>Country</b></label>&nbsp;&nbsp;
         <input type="text" name="country" placeholder="country" formControlName="country"><br />

      </div>
      <button type="submit">Submit</button>
   </div>
</form>
<div class="tab">
   <table  >
      <thead>
         
         <tr>
            <th>Name</th>
            
            <th>Company</th>
           
            <th>State</th>
           
            <th>Country</th>
            <th>Action</th>
         </tr>
      </thead>
      <tbody>

         <tr *ngFor=" let item of listData">
            <td>
            <div *ngIf="item.isEdit">
               <input type="text" [(ngModel)]= "item.name" class="form-control">
            </div>
            <div *ngIf="!item.isEdit">
               {{item.name}}

            </div>
            </td>
            
            <td>
               <div *ngIf="item.isEdit">
                  <input type="text" [(ngModel)]="item.company" size="100%" class="form-control">
               </div>
               <div *ngIf="!item.isEdit">
                  {{item.company}}
               </div>
            </td>
      
            <td>
               <div *ngIf="item.isEdit">
                  <input type="text" [(ngModel)]="item.state" class="form-control">
               </div>
               <div *ngIf="!item.isEdit">
                  {{item.state}}
               </div>
            </td>
          
            <td>
               <div *ngIf="item.isEdit">
                  <input type="text" [(ngModel)]="item.country" class="form-control">
               </div>
               <div *ngIf="!item.isEdit">
                  {{item.country}}
               </div>
            </td>
            <td><button type="button" (click)="removeItem(item)">Delete</button>
               
                  <button type="button" (click)="onEdit(item)"  >edit</button>
            
               </td>
         </tr>
         
      </tbody>
   </table>
</div>
</div>
 